
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Phone Book</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/style.default.css" id="theme-stylesheet">
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">
</head>
<body>
    <div class="login-page">
        <div class="container d-flex align-items-center">
            <div class="form-holder has-shadow">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="info d-flex align-items-center">
                            <div class="content">
                                <div class="logo">
                                    <h1>Phone Book</h1>
                                </div>
                                <p>Sign in to your Phone Book</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 bg-white">
                        <div class="form d-flex align-items-center">
                            <div class="content">
                                <form id="login-form" method="post">
                                    <div class="form-group">
                                        <div class="avatar"><img src="~/Content/img/HovhannisyanA.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                        <label for="login-password" class="label-material">If you want to sign in your Phonebook click to button`Sign in </label>
                                    </div>
                                    <a id="login" href="@Url.Action("Contakts", "PhoneBookHome")" class="btn btn-primary">Sign in</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
