<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="PhoneEntity" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=EntityServices.PhoneEntity;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.EntityClient" />
    
    <!--<add name="ArmDepositEntities" connectionString="metadata=res://*/Entities.DepositEntityModel.csdl|res://*/Entities.DepositEntityModel.ssdl|res://*/Entities.DepositEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;AttachDbFileName=|DataDirectory|\ArmDeposit.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>